<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style type="text/css">
  
  .item{
  	margin:10px;
  	padding:10px;
  	border:1px solid #eee;
  }
  .desc{
  
  }
  .jumcolor{
  	background-color:#FF0000;
  	color:#FFFFFF;
  }
  .topspace{
  	margin-top:10px;
  }
    .bottomspace{
      margin:10px;
      padding:10px;
      text-align: center;
      border-radius: 10px;
  }
  </style>
</head>
<body>
  
<div class="container-fluid ">

<div class="jumbotron topspace jumcolor">
    <h1>2017 GLCM FIC</h1>
    <p>投票规则</p>
    
</div>


<div class="row item">
  <div class="col-md-12 col-sm-12 " >
  	<p>每位同学拥有不同价值的礼物各一份，可以挑选其中一份礼物送给中意创业者，每次只能送一个礼物。 </p>
      <ul>
          <li>
              汽车价值为3个金币
          </li>
          <li>
              无人机价值2个金币
          </li>
          <li>
             玫瑰价值为1个金币
          </li>
      </ul>
  </div>
 
</div>
<div class="form-group col-sm-12 col-md-12">
    <form action="{{ url_for('vote') }}" method="get">
            <button type="button" class="btn btn-success pull-right" onclick="form.submit();">开始投票</button>

    </form>
</div>

                

	
</div>
<div id="footer"class="row bottomspace jumcolor ">
    <p>2017 GLCM FIC Committee</p>
</div>
</body>
</html>